.fp_outerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    max-height: 2048px;
    color: black;
}

.fp-div{
    max-width: 28rem;
}

.fp_heading_para{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.fp_heading_para > h1{
    font-weight: 700;
}

.fp_heading_para > p{
    color: #6E6E77;
}

.fp_form{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.fp_form > input{
    height: 2.25rem;
    margin-top: 0.5rem;
    border: 1px solid #E4E4E7;
    border-radius: 5px;
    outline: none;
    padding: 0.625rem;
    font-size: 0.875rem;
}

.fp_form > Button{
    background-color: black;
    font-size: 0.875rem;
}

.fp_option_for_signin{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    gap: 0.3rem;
    color: #6E6E77;
    font-size: 0.875rem;
}

.fp_option_for_signin a{
    color: #6E6E77;
    font-weight: 500;
    cursor: pointer;
}

.fp_option_for_signin a:hover{
    color: black !important;
}

@media (max-width: 480px){
    .fp-div{
        max-width: 480px;
        padding: 1rem;
    }
    .fp_heading_para > p{
        line-height: 1.4;
    }
}