.form_submission_title_and_desc {
  display: flex;
  flex-direction: column;
}

.form_submission_title_and_desc > h2 {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0.5px;
  color: black;
}

.form_submission_title_and_desc > p {
  color: #6e6e77;
  font-size: 1.2rem;
  font-weight: 500;
}

.form_submission_question_container_outer_div {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.form_submission_question_container_2 {
  gap: 1rem;
}

.form_submission_question_container > p {
  margin-bottom: 0;
}

.questions_heading_h2{
  margin-top: 1rem;
}

.form_subm_dynamic_short_ans > input,
.form_subm_dynamic_short_ans > textarea {
  width: 100%;
}

.form_subm_dynamic_mcq,
.form_subm_dynamic_linear_btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
  width: max-content;
}

.form_subm_dynamic_linear_btns{
    flex-direction: column;
    gap: 0.5rem;
}

.form_subm_dynamic_mcq > label {
  color: black;
}

.form_submission_dynamc_answer_div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form_submission_dynamc_answer_div .form_subm_dynamic_short_ans,
.form_submission_dynamc_answer_div .form_subm_dynamic_date {
  display: block;
  width: 100%;
}

.response_submit_btn{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.response_submit_btn > Button{
    background-color: black;
    font-weight: 500;
}

.form_subm_options_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.form_subm_dynamic_mcq {
  flex: 0 1 calc(20% - 1rem);
  min-width: 150px;
  margin-bottom: 0.5rem;
}

@media (max-width:480px){
  .form_submission_dynamc_answer_div{
    flex-direction: column;
    gap: 0.2rem;
  }
  .form_subm_dynamic_linear_btns{
    flex-direction: row;
  }
  .form_subm_dynamic_mcq {
    flex: 0 1 100%;
  }
}